svg.interactive-schema-diagram {
    background-color: black;
    width: 100%;
}

.node circle {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    fill: #fff;
}

.link {
    stroke: #666;
    stroke-opacity: 0.6;
}

.link.highlighted {
    stroke: white;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}
